.infos, .exitos, .alertas, .errors { 
       font-family:Arial, Helvetica, sans-serif;  
       font-size:13px; 
       border: 1px solid; 
       margin: 10px 0px; 
       padding:15px 10px 15px 50px; 
       background-repeat: no-repeat; 
       background-position: 10px center; 
} 
.infos { 
       color: #00529B; 
       background-color: #BDE5F8; 
       background-image: url('info.png'); 
} 
.exitos { 
       color: #4F8A10; 
       background-color: #DFF2BF; 
       background-image:url('exito.png'); 
} 
.alertas { 
       color: #9F6000; 
       background-color: #FEEFB3; 
       background-image: url('alerta.png'); 
} 
.errors { 
     color : # D8000C ;
color de fondo : #FFBABA ;
} 