/*
  Common styles to all themes
  Please to customice the design create a custom 'theme' below
*/

.pure-css-select-style {
  width: 100%;
  overflow: hidden;
}
.pure-css-select-style select {
  width: 100%;
  padding-right: 60px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  font-size: 100pt;   
  font-family : verdana,arial,helvetica;  

  /* Hide arrow on FF */
  -moz-appearance: none;
  text-indent: 0.1px;
  text-overflow: ellipsis;
}
/* Hide arrow on IE10*/
.pure-css-select-style select::-ms-expand {
  display: none;
}
.pure-css-select-style optgroup {
  color: inherit;
  font: inherit;
}
/* IE9: To hide select arrow we make the select overflow on the right side there is not another way :( */
@media screen and (min-width:0\0) {
  .pure-css-select-style select {
    width: calc( 100% + 70px );
  }
}







/* Rounded and filled ------------------------------------------------------- */
.theme-filled {
  border-radius: 100px;
  /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="0 0 18 22"><path d="M9 17L2.07 5L15.93 5z" fill="#fff"/></svg> */
  background: #4d4d4d url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2222%22%20viewBox%3D%220%200%2018%2022%22%3E%3Cpath%20d%3D%22M9%2017L2.07%205L15.93%205z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') right 14px center no-repeat;
  box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.25);
}
.theme-filled select {
  padding: 8px 10px 8px 60px;
  font: 600 16px/1.2 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: #f2f2f2; /* Cution this is not recommended on IE9! */
}
.theme-filled select option {
  color: #4d4d4d;
}

